$main-light-1: #F5F6FA;
$main-light-2: #E6E9F4;
$main-light-3: #D7DBEC;
$main-gray: #7E84A3;
$main-black: #131523;
$main-blue: #173583;
$secondary-red: #CE1432; 
$secondary-blue-1: #522E91;
$secondary-blue-2: #0087CD;
$secondary-orange: #FCAF17;
$secondary-green-1: #B5D334;
$secondary-green-2: #51B848;
