$black: #131523;
$blue: #0058ff;
$boxShadow: #152232;
$gray: #a1a7c4;
$midgray: #d7dbec;
$seagreen: #21d59b;
$txgray: #7e84a3;
$white: #fff;
$icon: #92929d;

//New colors

$line1: #f5f6fa;
$line2: #e6e9f4;
$line3: #d7dbec;

$text-primary: #7e84a3;
$text-secondary: #131523;

$main-color: #173583;

$additional-red: #ce1432;
$additional-purple: #522e91;
$additional-blue: #0087cd;
$additional-yellow: #fcaf17;
$additional-green1: #b5d334;
$additional-green2: #51b848;
